/* line 3, ../src/screen.scss */
body {
  background: white url("http://pb.io/media/img/concrete.png");
}

/* line 7, ../src/screen.scss */
#main {
  padding: 48px;
  text-align: center;
}

/* line 12, ../src/screen.scss */
h1 {
  margin-bottom: 16px;
}

/* line 16, ../src/screen.scss */
.image {
  margin: 0 auto;
  position: relative;
  -moz-transition-property: width;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 21, ../src/screen.scss */
.image img {
  position: relative;
  display: block;
  margin: 0 auto;
  -moz-transition-property: width,height;
  -webkit-transition-property: width,height;
  -o-transition-property: width,height;
  transition-property: width,height;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px 0;
}
/* line 29, ../src/screen.scss */
.image .scalable-note {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 33, ../src/screen.scss */
.image.large .scalable-note {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/* line 38, ../src/screen.scss */
.scalable-note {
  font-size: 12px;
  margin: 16px 0;
}

/* line 43, ../src/screen.scss */
.links {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  width: 200px;
  height: 60px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 0 5px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 5px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.3) 0 0 5px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 5px 0;
  margin: 0 auto;
  padding: 10px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -110px;
}
/* line 59, ../src/screen.scss */
.links.admin {
  width: 340px;
  margin-left: -180px;
}
/* line 64, ../src/screen.scss */
.links a {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 10px;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 75, ../src/screen.scss */
.links a:first-child {
  margin-left: 0;
}
/* line 79, ../src/screen.scss */
.links a:hover, .links a.hover {
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
/* line 83, ../src/screen.scss */
.links a span {
  display: none;
}
/* line 88, ../src/screen.scss */
.links .zoom.in {
  background-image: url("../img/icon-zoom-in.png");
}
/* line 91, ../src/screen.scss */
.links .zoom.out {
  background-image: url("../img/icon-zoom-out.png");
}
/* line 94, ../src/screen.scss */
.links .download {
  background-image: url("../img/icon-download.png");
}
/* line 97, ../src/screen.scss */
.links .copy {
  background-image: url("../img/icon-copy.png");
}
/* line 100, ../src/screen.scss */
.links .edit {
  background-image: url("../img/icon-edit.png");
}
/* line 103, ../src/screen.scss */
.links .delete {
  background-image: url("../img/icon-delete.png");
}
/* line 107, ../src/screen.scss */
.links .title {
  clear: both;
  position: relative;
  top: 20px;
  font-weight: 700;
  color: #FFF;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

/* line 119, ../src/screen.scss */
.image:hover .links, .image.hover .links {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 124, ../src/screen.scss */
.creation-date {
  margin: 1em 0;
  font-size: 80%;
}

/* line 129, ../src/screen.scss */
#disqus_thread {
  width: 800px;
  margin: 64px auto;
}

/* line 134, ../src/screen.scss */
#copy-container {
  position: relative;
}
