{% extends "base.html" %}
{% load thumbnail i18n markup %}

{% block page_title %}{% if image.title %}{{ image.title }} – {% endif %}{{ block.super }}{% endblock %}

{% block content %}
    {% thumbnail image.file 640x640 as small %}
    <style type="text/css">
        .image.small {
            width: {{ small.width }}px;
        }
        .image.small img {
            width: {{ small.width }}px;
            height: {{ small.height }}px;
        }
        .image.large {
            width: {{ image.file.width }}px;
        }
        .image.large img {
            width: {{ image.file.width }}px;
            height: {{ image.file.height }}px;
        }
    </style>
    {% if image.title %}<h1>{{ image.title }}</h1>{% endif %}
    <div class="image small{% if small.width < image.file.width %} scalable{% endif %}{% if not image.border %} no-border{% endif %}">
        <img src="{{ small.url }}" longdesc="{{ image.file.url }}">
        <div class="links{% if perms.imagehost.change_image %} admin{% endif %}{% if small.width < image.file.width %} zoomable{% endif %}">
            {% if small.width < image.file.width %}<a href="#" class="zoom in"><span>{% trans "Zoom" %}</span></a>{% endif %}
            <a href="{% url imagehost_download_image image.slug %}" class="download"><span>{% trans "Download" %} ({{ image.file.size|filesizeformat }})</span></a>
            <div id="copy-container"><a href="http://{{ request.META.HTTP_HOST }}{{ image.get_absolute_url }}" class="copy"><span>{% trans "Copy URL" %}</span></a></div>
            {% if perms.imagehost.change_image %}
            <a href="{% url admin:imagehost_image_change image.id %}" class="edit"><span>{% trans "Edit" %}</span></a>
            <a href="{% url admin:imagehost_image_delete image.id %}" class="delete"><span>{% trans "Delete" %}</span></a>
            {% endif %}
        </div>
    </div>
    <div class="creation-date">{{ image.created_on|date:"F j, Y – H:i" }}</div>
    
    {% if image.text %}<div class="text">{{ image.text|markdown }}</div>{% endif %}
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_identifier = {{ image.id }};
        if (settings.DEBUG) var disqus_developer = 1;
        (function() {
            var dsq = document.createElement('script'); 
            dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://pb-img.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    
    
{% endblock %}