{% extends "base.html" %}
{% load thumbnail i18n %}

{% block content %}
    {% thumbnail image.file 640x640 as small %}
    <style type="text/css">
        .image.small {
            width: {{ small.width }}px;
        }
        .image.small img {
            width: {{ small.width }}px;
            height: {{ small.height }}px;
        }
        .image.large {
            width: {{ image.file.width }}px;
        }
        .image.large img {
            width: {{ image.file.width }}px;
            height: {{ image.file.height }}px;
        }
    </style>
    {% if image.title %}<h1>{{ image.title }}</h1>{% endif %}
    <div class="image small{% if small.width < image.file.width %} scalable{% endif %}">
        <img src="{{ small.url }}" longdesc="{{ image.file.url }}">
        {% if small.width < image.file.width %}
            {# <div class="scalable-note">{% blocktrans with image.file.width as large_width and image.file.height as large_height and small.width as small_width and small.height as small_height %}The original image is {{ large_width }}×{{ large_height }} and was scaled down to {{ small_width }}×{{ small_height }}. Please click on it to show the original size.{% endblocktrans %}</div> #}
        {% endif %}
        <div class="links{% if perms.imagehost.change_image %} admin{% endif %}">
            <a href="#" class="zoom in"><span>{% trans "Zoom" %}</span></a>
            <a href="{% url imagehost_download_image image.slug %}" class="download"><span>{% trans "Download" %} ({{ image.file.size|filesizeformat }})</span></a>
            <a href="#" class="copy"><span>{% trans "Copy URL" %}</span></a>
            {% if perms.imagehost.change_image %}
            <a href="{% url admin:imagehost_image_change image.id %}" class="edit"><span>{% trans "Edit" %}</span></a>
            <a href="{% url admin:imagehost_image_delete image.id %}" class="delete"><span>{% trans "Delete" %}</span></a>
            {% endif %}
        </div>
        
    </div>

{% endblock %}