@import "compass/css3";

body {
    background: #FFF url('http://pb.io/media/img/concrete.png');
}

#main {
    padding: 48px;
    text-align: center;
}

h1 {
    margin-bottom: 16px;
}

.image {
    margin: 0 auto;
    position: relative;
    @include transition('width', 1s);
    
    img {
        position: relative;
        display: block;
        margin: 0 auto;
        @include transition('width,height', 1s);
        @include box-shadow(rgba(0,0,0,0.3), 0, 0, 4px);
    }
    
    &.no-border img {
        @include box-shadow(transparent);
    }
    
    .scalable-note {
        @include opacity(1);
    }
    
    &.large .scalable-note {
        @include opacity(0);
    }
}

.scalable-note {
    font-size: 12px;
    margin: 16px 0;
}

.links {
    background: #000;
    background: rgba(0,0,0,0.6);
    height: 60px;
    @include border-radius(10px);
    @include box-shadow(rgba(255,255,255,0.3), 0, 0, 5px);
    margin: 0 auto;
    padding: 10px;
    @include opacity(0);
    @include transition('opacity', .5s);
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 130px;
    margin-left: -75px;
    
    &.zoomable {
        width: 200px;
        margin-left: -110px;
    }
    
    &.admin {
        width: 270px;
        margin-left: -145px;
    }
    
    &.admin.zoomable {
        width: 340px;
        margin-left: -180px;
    }
    
    a {
        display: block;
        width: 60px;
        height: 60px;
        float: left;
        background-position: center center;
        background-repeat: no-repeat;
        margin-left: 10px;
        @include opacity(0.3);
        @include transition('opacity', 0.5s);
        
        &:first-child {
            margin-left: 0
        }
        
        &:hover, &.hover {
            @include opacity(0.9);
        }
        
        span {
            display: none;
        }
    }
    
    .zoom.in {
        background-image: url('../img/icon-zoom-in.png');
    }
    .zoom.out {
        background-image: url('../img/icon-zoom-out.png');
    }
    .download {
        background-image: url('../img/icon-download.png');
    }
    .copy {
        background-image: url('../img/icon-copy.png');
    }
    .edit {
        background-image: url('../img/icon-edit.png');
    }
    .delete {
        background-image: url('../img/icon-delete.png');
    }
    
    .title {
        clear: both;
        position: relative;
        top: 20px;
        font-weight: 700;
        color: #FFF;
        color: rgba(255,255,255,.9);
        @include text-shadow(rgba(0,0,0,0.5), 1px, 1px, 2px);
    }
}

.image:hover, .image.hover {
    .links {
        @include opacity(1);
    }
}

.creation-date {
    margin: 1em 0;
    font-size: 80%;
}

.text {
    width: 800px;
    margin: 32px auto;
    text-align: left;
}

#disqus_thread {
    width: 800px;
    margin: 64px auto;
}

#copy-container {
    position: relative;
    float: left;
    margin-left: 10px;
}